node-red.json
[
    {
        "id": "81c6a35200fe5e4c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1b89e71542147cf",
        "type": "mqtt in",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-LDR_LEFTT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4dd1b30e66cc522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "55fd7726f455d8f3",
                "881af60fbdf65cc5",
                "c366811d06db29a0"
            ]
        ]
    },
    {
        "id": "55fd7726f455d8f3",
        "type": "debug",
        "z": "81c6a35200fe5e4c",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "881af60fbdf65cc5",
        "type": "ui_gauge",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "d3bc772c1bf477e7",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Light intensity - Left",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#96d35f",
            "#fff76b",
            "#e32400"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "f2ed93127dd4316d",
        "type": "mqtt in",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-LDR_RIGHTT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4dd1b30e66cc522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "1c54943ddfc657dd",
                "5b16464289b1dc5b",
                "8b7061a303e7196c"
            ]
        ]
    },
    {
        "id": "1c54943ddfc657dd",
        "type": "debug",
        "z": "81c6a35200fe5e4c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "5b16464289b1dc5b",
        "type": "ui_gauge",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "d3bc772c1bf477e7",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Light intensity - Right",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#77bb41",
            "#fffc41",
            "#e32400"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a09dc2695f79b39",
        "type": "ui_slider",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "label": "Minimum angle",
        "tooltip": "",
        "group": "3f812b19d1fcf0c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": "10",
        "className": "",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "10fd322e1b756f7f"
            ]
        ]
    },
    {
        "id": "a2bc7d28dc9d453a",
        "type": "ui_slider",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "label": "Controlling factor",
        "tooltip": "",
        "group": "3f812b19d1fcf0c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "d93579198f013520"
            ]
        ]
    },
    {
        "id": "10fd322e1b756f7f",
        "type": "mqtt out",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-min-anglee",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4dd1b30e66cc522",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "d93579198f013520",
        "type": "mqtt out",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-Ctrl-factorr",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4dd1b30e66cc522",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b7061a303e7196c",
        "type": "ui_chart",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "d3bc772c1bf477e7",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Light intensity variation - Right",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d357fe",
            "#fff995",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#3a88fe"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c366811d06db29a0",
        "type": "ui_chart",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "d3bc772c1bf477e7",
        "order": 4,
        "width": 10,
        "height": 4,
        "label": "Light intensity variation - Left",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d357fe",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#3a88fe"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d042551487c4c5d3",
        "type": "ui_dropdown",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "label": "Select your medicine type",
        "tooltip": "",
        "place": "Select option",
        "group": "90515daef1286251",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Tablet A",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Tablet B",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Tablet C",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Custom",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "3f07bb6edf07aea0"
            ]
        ]
    },
    {
        "id": "3f07bb6edf07aea0",
        "type": "mqtt out",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-Med-typee",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4dd1b30e66cc522",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "60a05e9af5f25ad9",
        "type": "mqtt in",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-Tempp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4dd1b30e66cc522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "859ca26a063a80ff",
                "3605ab4cf8b1a483",
                "af74d5d135517d30"
            ]
        ]
    },
    {
        "id": "859ca26a063a80ff",
        "type": "debug",
        "z": "81c6a35200fe5e4c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "3605ab4cf8b1a483",
        "type": "ui_gauge",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "929adba2e02878e1",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "20",
        "max": "40",
        "colors": [
            "#77bb41",
            "#fffc41",
            "#e32400"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "af74d5d135517d30",
        "type": "ui_chart",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "929adba2e02878e1",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Temperature variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff8c82",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#0061ff",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c3c299b36290aa01",
        "type": "mqtt in",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-Humii",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4dd1b30e66cc522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "1980d5c8dc8bcb9e",
                "3cffe4611bc1f7f9",
                "7d10daf4dd709e58"
            ]
        ]
    },
    {
        "id": "1980d5c8dc8bcb9e",
        "type": "debug",
        "z": "81c6a35200fe5e4c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 740,
        "wires": []
    },
    {
        "id": "3cffe4611bc1f7f9",
        "type": "ui_gauge",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "929adba2e02878e1",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "colors": [
            "#77bb41",
            "#fffc41",
            "#e32400"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 780,
        "wires": []
    },
    {
        "id": "7d10daf4dd709e58",
        "type": "ui_chart",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "group": "929adba2e02878e1",
        "order": 4,
        "width": 10,
        "height": 4,
        "label": "Humidity variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff8c82",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#0061ff",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d7a76ea7c9f49b",
        "type": "ui_text_input",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "label": "Max Light Intesity from",
        "tooltip": "",
        "group": "d3bc772c1bf477e7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2ece6829b22df299",
        "type": "mqtt in",
        "z": "81c6a35200fe5e4c",
        "name": "",
        "topic": "MedBOX-HIGHTINTT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4dd1b30e66cc522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "b8d7a76ea7c9f49b"
            ]
        ]
    },
    {
        "id": "e4dd1b30e66cc522",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d3bc772c1bf477e7",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "a82d30b9eb5da1e5",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f812b19d1fcf0c2",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "a82d30b9eb5da1e5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90515daef1286251",
        "type": "ui_group",
        "name": "Medicine selection",
        "tab": "a82d30b9eb5da1e5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "929adba2e02878e1",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "a82d30b9eb5da1e5",
        "order": 4,
        "disp": true,
        "width": "17",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a82d30b9eb5da1e5",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]